<h1>Welcome to your data catalog</h1>

<h2>Links</h2>
<ul>
    <li><a href="/repos/repo-1" target="_blank">Data Repository File Listing</a></li>
    <li><a href="/rabbitmq/" target="_blank">RabbitMQ Management Console</a></li>
    <li><a href="/kibana/" target="_blank">Kibana Web Console</a></li>
    <li><a href="/geoserver/" target="_blank">Geoserver</a></li>
    <li><a href="/api/v0/docs" target="_blank">API Docs</a></li>
</ul>